In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Load the dataset
raw_data = pd.read_csv('Survey.csv')
raw_data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [3]:
#Creating Dataframe
raw_data = raw_data[raw_data.self_employed=='Yes']
raw_data["self_employed"] = raw_data["self_employed"].replace(["Yes", "Don't know", "No"], [1, 0.5, 0.1])
raw_data["wellness_program"] = raw_data["wellness_program"].replace(["Yes", "Don't know", "No"], [1, 0.5, 0.1])
raw_data.groupby(['Country','self_employed','wellness_program']).size().reset_index()

           Country  self_employed  wellness_program   0
0        Australia              1               1.0   2
1          Austria              1               0.5   1
2     Bahamas, The              1               1.0   1
3           Brazil              1               0.1   2
4           Canada              1               0.1   9
5           Canada              1               0.5   1
6           Canada              1               1.0   1
7            China              1               0.1   1
8          Croatia              1               0.1   1
9          Denmark              1               1.0   2
10          France              1               0.1   1
11          France              1               1.0   1
12         Germany              1               0.1  10
13         Germany              1               0.5   1
14         Germany              1               1.0   1
15         Hungary              1               0.1   1
16           India              1               0.1   2
17           India              1               0.5   1
18         Ireland              1               0.1   6
19           Italy              1               0.1   1
20           Japan              1               1.0   1
21          Mexico              1               0.1   1
22     Netherlands              1               0.1   3
23     Netherlands              1               0.5   2
24     Netherlands              1               1.0   2
25          Poland              1               0.1   2
26    South Africa              1               0.1   2
27     Switzerland              1               0.1   1
28        Thailand              1               0.1   1
29  United Kingdom              1               0.1  21
30  United Kingdom              1               0.5   3
31  United Kingdom              1               1.0   4
32   United States              1               0.1  35
33   United States              1               0.5  10
34   United States              1               1.0  11
35        Zimbabwe              1               0.1   1